# Dependencies
node_modules/

# Builds
dist/
build/
.next/
out/

# Databases
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
*.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / secrets
.env
.env.*
!.env.example

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
dist-demo/
